body{
	background-color: #58D68D;
}
.img{
	border: 5px solid white;
	width: 40%;
	margin-top: 0px;
}
.group{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	text-align: center;
}
#points{
	font-family: 'Great Vibes', cursive;
	font-size: 25px;
	margin-left: 45%;
	text-transform: uppercase;
	font-family: 'Kanit', sans-serif;
	margin-top: 0%;

}
#h1{
	margin-left: 41%;
	text-transform: uppercase;
	color: blanchedalmond;
	margin-top: 0%;
	
}
#p{
	margin-left: 46.5%;
	text-transform: uppercase;
	margin-top: 0%;
}
#p1{
	margin-left: 41%;
}

